.active{
    background-color:  #878484;
    padding: 4px 4px;
    border-radius: 10%;
    text-decoration: none;
    margin-left: 8px;
    
}

.active:hover{
    background-color: white;
    text-decoration: none;
    
}